<ol class="technologies edit">
<% _.each(technologies, function(technology) { %>
  <li data-id="<%= technology.id %>">
    <span class="label label-primary">
      <%= technology.title %>
    </span>
  </li>
<% }); %>
</ol>
<div class="form-group">
  <input type="text" name="new-technology" class="form-control input-sm new" placeholder="Add technology"/>
</div>
