<ol class="technologies edit">
  <% _.each(technologies, function(technology) { %>
    <li>
      <span class="label label-primary">
        <%= technology.title %>
      </span>
    </li>
  <% }); %>
</ul>
