.photo {
  text-align: center;
  font-size: 12px;
  font-style: italic;

  img {
    width: 100%;
    max-width: 290px;
    padding-top: 20px;
    padding-bottom: 10px;

    @media (min-width: 768px) {
      padding: 0;
    }
  }
}
