/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sass-official";
@import "fontawesome";
@import "lightbox2/css/lightbox";

@import "home";
@import "projects";
@import "screenshots";

body {
  @media (min-width: 768px) {
    .container {
      max-width: 730px;
    }
  }

  header {
    margin-bottom: 20px;

    h3 {
      line-height: 35px;
      margin-bottom: 0;

      @media (max-width: $screen-xs) {
        font-size: 20px;
      }
    }

    .nav {
      margin-top: 20px;

      li a span.title {
        display: none;

        @media (min-width: $screen-xs) {
          display: inline;
        }
      }
    }
  }

  .jumbotron {
    .btn {
      margin-bottom: 10px;
    }
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  footer {
    height: $grid-gutter-width;
  }
}
